<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Page title -->
    <title>nQit: AI for Recruiting | Hire Intelligently</title>
    <!-- Page description -->
    <meta name="description"
          content="nQit is a state-of-the-art AI that analyzes data from millions of candidates and companies and applies machine learning, deep data mining, and pattern recognition to identify best candidates for your organization.">
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon  -->
    <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <style>
        .image-header {
            position: absolute;
            left: 20px;
            top: 6px;
            z-index: 1000;
            color: black;
            /*text-shadow: 1px 1px black;*/
            padding: 8px;
            border: 1px solid #28C;
            background: rgba(41, 171, 255, 0.27);
        }
    </style>
    <!-- Include StyleSheets -->
    <link rel="stylesheet" href="css/style.min.css">
    <!-- <link rel="stylesheet" href="css/custom.css"> -->
    <script src="js/modernizr.js"></script>
</head>

<body class="">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Preloader: uncomment this if you want to show a smooth preloader while the page is loading. Don't forget to add the 'js-preload-me' class on the <body> tag. -->
<!-- <div class="preloader js-preloader"><div class="preloader-animation"></div></div>
-->
<!-- End of Preloader -->
<div class="page js-page ">
    <!-- Header -->
    <div class="header header-over large">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Logo Image -->
                    <a href="index.html" class="logo-image logo-animated">
                        <img src="img/logos/logo-light.png" alt="logo">
                    </a>
                    <!-- End of Logo Image -->
                    <!-- Languages -->
                    <div class="languages languages-light js-languages">
							<span class="language-active js-language-active">English
								<i class="fa fa-angle-down"></i>
							</span>
                        <ul class="languages-list js-languages-list">
                            <li>
                                <a href="#">English</a>
                            </li>
                            <li>
                                <a href="#">Français</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End of Languages -->
                </div>
                <div class="col-md-9 col-sm-6 col-xs-6">
                    <!-- Menu -->
                    <nav class="right helper">
                        <ul class="menu sf-menu js-menu menu-light">
                            <li>
                                <a href="index.html">Home
                                </a>
                            </li>
                            <li>
                                <a href="#">Technology</a>
                            </li>
                            <li>
                                <a href="#">About us</a>
                            </li>
                            <li>
                                <a href="#">Documentation
                                    <span class="menu-label">NEW</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Pricing</a>
                            </li>
                            <li>
                                <a href="contacts.html">Contact us</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- End of Menu -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Header -->
    <!-- Header Back -->
    <div class="header-back header-back-light header-back-full-page js-full-page header-back-bg-3 header-back-subscribe">
        <div class="header-back-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Page Info -->
                        <div class="page-info helper  center mb100 mb50-sm">
                            <h1 class="page-title"><span style="color:#28C">nQit:</span> AI for Recruiting.</h1>
                            <h2 class="page-description">Hire Intelligently.</h2>
                        </div>
                        <!-- End Page Info -->
                    </div>
                </div>
                <div style="position: absolute; bottom: 100px;">
                    Stories are always the same; it's only the names that change.
                    <br/>
                    <br/>
                    And <span style="color:#28C">nQit</span> knows all the stories.
                </div>
            </div>
        </div>
    </div>
    <!-- End of Header Back -->
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Promo Title -->
                    <div class="promo-title-wrapper helper pt60">
                        <h3 class="promo-title" data-icon="&#xe6af">Artificial Intelligence in your office.</h3>
                        <p class="promo-description">nQit is a state-of-the-art AI that analyzes data from millions of
                            candidates and companies and applies machine learning, deep data mining, and pattern
                            recognition to identify best candidates for your organization.</p>
                    </div>
                    <!-- End of Promo Title -->
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Box -->
                            <div class="box box-small-icon-alt">
                                <i class="pe-7s-server box-icon"></i>
                                <h4 class="box-title">Big data</h4>
                                <p class="box-description">Harness the power of big data. nQit uses millions of data
                                    points from multiple data sources,
                                    such as demographic data, public domain archives, web search, and social
                                    networks.</p>
                            </div>
                            <!-- End of Box -->
                        </div>
                        <div class="col-md-6">
                            <!-- Box -->
                            <div class="box box-small-icon-alt">
                                <i class="pe-7s-tools box-icon"></i>
                                <h4 class="box-title">Customization</h4>
                                <p class="box-description">nQit is tailored to your organization. It helps you find
                                    the perfect candidate for your company, not just "a perfect candidate". (There is no
                                    such thing.)</p>
                            </div>
                            <!-- End of Box -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Box -->
                            <div class="box box-small-icon-alt">
                                <i class="pe-7s-science box-icon"></i>
                                <h4 class="box-title">Adaptation</h4>
                                <p class="box-description">nQit is incredibly versatile. It constantly acquires new data
                                    and uses it to learn and improve the accuracy of its predictions.
                                    And it's doing it 24/7, 365 days a year.</p>
                            </div>
                            <!-- End of Box -->
                        </div>
                        <div class="col-md-6">
                            <!-- Box -->
                            <div class="box box-small-icon-alt">
                                <i class="pe-7s-shield box-icon"></i>
                                <h4 class="box-title">Privacy</h4>
                                <p class="box-description">Your usage of nQit starts with a privacy agreement
                                    that guarantees that under no circumstances any data about your organization or
                                    employees will ever become available to a third party.</p>
                            </div>
                            <!-- End of Box -->
                        </div>
                    </div>
                    <div class="promo-title-wrapper ">
                        <h3 class="promo-title" data-icon="&#xe629"> How it works </h3>
                        <p class="promo-description">
                            You enter details about your organization (just once, unless anything
                            changes in future). When you're ready to ask nQit about a candidate,
                            you enter their information into the system, and nQit comes back
                            with predictions on various topics, made based on the patterns nQit has learned
                            about thousands and thousands of similar candidates and companies.
                            Most importantly, it tells you if it thinks
                            the candidate would be a good fit for the position you have in mind.
                        </p>
                    </div>
                    <!-- End of Promo Title -->
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 col-sm-12">

                            <div class="image-header">Sample <span
                                    style="color:#28C; text-shadow:1px 1px black;">nQit</span> report
                            </div>
                            <img src="/img/report.png" style="padding:0; width:100%;" class="panel"
                                 alt="Soft screen"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="background-gradient-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Promo Title -->
                        <div class="promo-title-wrapper ">
                            <h3 class="promo-title" data-icon="&#xe6c9"> Give it a try </h3>
                            <p class="promo-description">
                                Interested to learn how nQit can benefit your business? Hiring and searching for a
                                perfect candidate is a
                                taunting and time-consuming task. nQit knows about more applicants and companies
                                that any human can physically do. nQit is your boat in this ocean of data.
                                (Or more like a cruise ship, really.)
                            </p>
                        </div>
                        <!-- End of Promo Title -->
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="helper center mb60">
                            <a href="#"
                               class="reguest-demo-button button blue stroke rounded button-icon button-icon-right">
                                request demo
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Promo Title -->
                    <div class="promo-title-wrapper ">
                        <h3 class="promo-title" data-icon="&#xe6b3"> Our Plans </h3>
                        <p class="promo-description">

                        </p>
                    </div>
                    <!-- End of Promo Title -->
                    <div class="row">

                        <div class="col-md-4 col-sm-6">
                            <!-- Price List -->
                            <div class="price-list">
                                <h3 class="price-list-title">Free</h3>
                                <p class="price-list-price">$0
                                    <span class="price-list-price-units">/mo</span>
                                </p>
                                <ul class="price-list-features">
                                    <li class="price-list-feature-item "> Limit of <strong>1</strong> report per month
                                    </li>
                                    <li class="price-list-feature-item "> Full customization</li>
                                    <li class="price-list-feature-item "> Get started with nQit with no upfront cost
                                    </li>
                                </ul>
                                <a href="#" class="price-list-button">Select Plan</a>
                            </div>
                            <!-- End of Price List -->
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <!-- Price List -->
                            <div class="price-list">
                                <h3 class="price-list-title">Pro</h3>
                                <p class="price-list-price">$199
                                    <span class="price-list-price-units">/mo</span>
                                </p>
                                <ul class="price-list-features">
                                    <li class="price-list-feature-item "> Limit of <strong>30</strong> reports per month
                                    </li>
                                    <li class="price-list-feature-item "> Advanced prediction features</li>
                                    <li class="price-list-feature-item "> Perfect for small to medium companies</li>
                                </ul>
                                <a href="#" class="price-list-button">Select Plan</a>
                            </div>
                            <!-- End of Price List -->
                        </div>
                        <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
                            <!-- Price List -->
                            <div class="price-list">
                                <h3 class="price-list-title">Ultimate</h3>
                                <p class="price-list-price">$499
                                    <span class="price-list-price-units">/mo</span>
                                </p>
                                <ul class="price-list-features">
                                    <li class="price-list-feature-item "> Limit of <strong>150</strong> reports per
                                        month
                                    </li>
                                    <li class="price-list-feature-item "> Premium customer support</li>
                                    <li class="price-list-feature-item "> Perfect for large companies and recruiting
                                        agencies
                                    </li>
                                </ul>
                                <a href="#" class="price-list-button">Select Plan</a>
                            </div>
                            <!-- End of Price List -->
                        </div>
                    </div>
                    <p class="promo-description">
                        Contact us for special pricing and unlimited packages.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Promo Title -->
                    <div class="promo-title-wrapper promo-title-no-icon">
                        <h3 class="promo-title" data-icon="&#xe6af"> FAQ </h3>
                    </div>
                    <!-- End of Promo Title -->
                    <div class="row">
                        <div class="col-md-4">
                            <!-- FAQ Grid -->
                            <div class="faq-grid">
                                <h4 class="faq-grid-question"> What makes nQit different? </h4>
                                <p class="faq-grid-answer">
                                    Instead of relying solely on the information provided in the resume
                                    and during the interview (which may or may not be accurate),
                                    nQit compares the candidate against common patterns it has learned
                                    about the labour market. By using subtle cues and regularities
                                    that are not always evident to human eye, nQit establishes
                                    connections that help make predictions about the candidate's
                                    future behaviour.
                                </p>
                            </div>
                            <!-- End of FAQ Grid -->
                        </div>
                        <div class="col-md-4">
                            <!-- FAQ Grid -->
                            <div class="faq-grid">
                                <h4 class="faq-grid-question">How much does it cost?</h4>
                                <p class="faq-grid-answer">In North America, after all is said and done,
                                    an average candidate costs about $2,200 to hire, including fees paid to recruiting
                                    agencies. nQit helps you make the right decision in choosing the perfect
                                    candidate, a crucial decision that affects your organization in the long-term.
                                    And with our Ultimate package, it only costs you about $3.3 per candidate.</p>
                            </div>
                            <!-- End of FAQ Grid -->
                        </div>
                        <div class="col-md-4">
                            <!-- FAQ Grid -->
                            <div class="faq-grid">
                                <h4 class="faq-grid-question">How to install nQit?</h4>
                                <p class="faq-grid-answer">nQit is offered as a software-as-a-service.
                                    It means no installation is required in your organization; we host and
                                    configure it for you. nQit is available as a web application and mobile
                                    apps for Android and iOS devices. Your data is protected by a strict privacy
                                    agreement that guarantees that, although your data is used anonymously for machine learning
                                    purposes, nQit will never share it directly with a third party.</p>
                            </div>
                            <!-- End of FAQ Grid -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="helper center">
                                <a href="faq.html" class="faq-grid-show-more">View all
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="js-footer-is-fixed">
        <!-- Footer Extended -->
        <div class="footer-extended">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-extended-container">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-4">
                                    <div class="footer-extended-menu">
                                        <h5 class="footer-extended-menu-title">About</h5>
                                        <ul class="footer-extended-menu-list">
                                            <li>
                                                <a href="#">Our Vision</a>
                                            </li>
                                            <li>
                                                <a href="#">Technologies</a>
                                            </li>
                                            <li>
                                                <a href="#">Newsletter</a>
                                            </li>
                                            <li>
                                                <a href="#">Blog</a>
                                            </li>
                                            <li>
                                                <a href="#">Contact Us</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-4">
                                    <div class="footer-extended-menu">
                                        <h5 class="footer-extended-menu-title">Downloads</h5>
                                        <ul class="footer-extended-menu-list">
                                            <li>
                                                <a href="#">All releases</a>
                                            </li>
                                            <li>
                                                <a href="#">Source code</a>
                                            </li>
                                            <li>
                                                <a href="#">Platforms</a>
                                            </li>
                                            <li>
                                                <a href="#">License</a>
                                            </li>
                                            <li>
                                                <a href="#">Terms of Use</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-4">
                                    <div class="footer-extended-menu">
                                        <h5 class="footer-extended-menu-title">Docs</h5>
                                        <ul class="footer-extended-menu-list">
                                            <li>
                                                <a href="#">Docs</a>
                                            </li>
                                            <li>
                                                <a href="#">Beginner's Guide</a>
                                            </li>
                                            <li>
                                                <a href="#">FAQ</a>
                                            </li>
                                            <li>
                                                <a href="#">Non-English Docs</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix visible-xs-block"></div>
                                <div class="col-md-2 col-sm-2 col-xs-4">
                                    <div class="footer-extended-menu">
                                        <h5 class="footer-extended-menu-title">Community</h5>
                                        <ul class="footer-extended-menu-list">
                                            <li>
                                                <a href="#">Diversity</a>
                                            </li>
                                            <li>
                                                <a href="#">Mailing Lists</a>
                                            </li>
                                            <li>
                                                <a href="#">Wiki</a>
                                            </li>
                                            <li>
                                                <a href="#">Merchandise</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-8">
                                    <div class="footer-extended-menu">
                                        <h5 class="footer-extended-menu-title">Subscribe</h5>
                                        <ul class="socials-footer">
                                            <li>
                                                <a href="#" class="socials-footer-link">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="socials-footer-link">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="socials-footer-link">
                                                    <i class="fa fa-youtube-play"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="socials-footer-link">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="socials-footer-link">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="socials-footer-link">
                                                    <i class="fa fa-github-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="subscribe-form-block-footer">
                                            <form action="#">
                                                <input type="text" name="email" id="subscribe-email-footer"
                                                       class="subscribe-input-footer" placeholder="Email address">
                                                <button class="subscribe-button-footer">
                                                    <i class="fa fa-angle-right"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <p class="text-footer">For any questions contact us at:
                                            <a href="mailto:support@vsart.me" target="_top">support@vsart.me</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Footer Extended -->
        <!-- Footer Default -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="footer-logo-wrapper">
                            <!-- Logo Image -->
                            <a href="index.html" class="logo-image ">
                                <img src="img/logos/logo.png" alt="logo">
                            </a>
                            <!-- End of Logo Image -->
                            <!-- Slogan -->
                            <p class="slogan">Hire Intelligently
                                <br/>with nQit.</p>
                            <!-- End of Slogan -->
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="footer-wrapper">
                            <!-- Scroll top -->
								<span class="scroll-top js-scroll-top">
									<i class="fa fa-angle-up"></i>
								</span>
                            <!-- End of Scroll top -->
                            <!-- Footer Menu -->
                            <ul class="footer-menu helper right">
                                <li>
                                    <a href="#"> About us </a>
                                </li>
                                <li>
                                    <a href="#"> Privacy Policy </a>
                                </li>
                                <li>
                                    <a href="#"> Terms & Condotions </a>
                                </li>
                                <li>
                                    <a href="#"> My account </a>
                                </li>
                                <li>
                                    <a href="#"> Support service </a>
                                </li>
                            </ul>
                            <!-- End of Footer Menu -->
                            <!-- Copyright -->
                            <p class="copyright helper right">
                                <a href="http://nqit.io">nQit Inc.</a>, all rights reserved. 2016 &copy; </p>
                            <!-- End of Copyright -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Footer Default -->
    </footer>
    <!-- End of Footer -->
</div>
<script src="js/all.js"></script>
<script src="js/custom.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<!--
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
</script>
 -->
</body>

</html>